<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ACPI</key>
        <dict>
            <key>Add</key>
            <array>
                <dict>
                    <key>Comment</key>
                    <string>SSDT-UHD620.aml</string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>SSDT-UHD620.aml</string>
                </dict>
            </array>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>IGPU: _DSM to XDSM</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X0RTTQ==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data>U2FTc2R0IA==</data>
                    <key>Replace</key>
                    <data>WERTTQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>U1NEVA==</data>
                </dict>
            </array>
        </dict>
        <key>Kernel</key>
        <dict>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>change _OSI from Darwin to Darw15</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>RGFyd2lu</data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleACPIPlatform</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>15.99.99</string>
                    <key>MinKernel</key>
                    <string>15.0.0</string>
                    <key>Replace</key>
                    <data>RGFydzE1</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
        </dict>
    </dict>
</plist>
